{% extends "layout.html" %}
{% block content %}
  <!--Work-->
  <div class="section scrollspy" id="work">
      <div class="container">
          <div class="home-1">
              <div class="content">
                  <div class="large-header" id="large-header">
                      <canvas id="blog-canvas">
                        <h1>Blog | Coming soon!</h1>
                      </canvas>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script src='../static/js/TweenLite.min.js'></script>
  <script src='../static/js/EasePack.min.js'></script>
  <script src='../static/js/rAF.js'></script>
  <script src='../static/js/blog.js'></script>
{% endblock %}
